<template>
  <div v-loading="loading" class="createPost-container">
    <sticky class-name="sub-navbar">
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        icon="el-icon-s-claim"
        @click="submitForm"
      >{{ $t('table.save') }}</el-button>
    </sticky>
    <div class="app-container">
      <el-form ref="postForm" :model="postForm" :rules="rules">
        <el-row :gutter="20">
          <el-col :span="8">
            <el-form-item prop="owner_id" label="Owner ID">
              <el-input v-model="postForm.owner_id" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="num_code" label="Num Code">
              <el-input v-model="postForm.num_code" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="char_code" label="Char Code">
              <el-input v-model="postForm.char_code" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item prop="nominal" label="Nominal">
          <el-input v-model="postForm.nominal" />
        </el-form-item>
        <el-form-item prop="name" label="Name">
          <el-input v-model="postForm.name" />
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import CurrencyResource from '@/api/currency';
import Sticky from '@/components/Sticky'; // Sticky header

const resource = new CurrencyResource();

const defaultForm = {
  nominal: 1,
};

export default {
  name: 'Detail',
  components: {
    Sticky,
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    const validateRequire = (rule, value, callback) => {
      if (value === '') {
        this.$message({
          message: rule.field + ' is required',
          type: 'error',
        });
        callback(new Error(rule.field + ' is required'));
      } else {
        callback();
      }
    };
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      rules: {
        owner_id: [{ validator: validateRequire }],
        num_code: [{ validator: validateRequire }],
        char_code: [{ validator: validateRequire }],
        nominal: [{ validator: validateRequire }],
        name: [{ validator: validateRequire }],
      },
      tempRoute: {},
    };
  },
  computed: {
    contentShortLength() {
      return this.postForm.content_short.length;
    },
    lang() {
      return this.$store.getters.language;
    },
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id;
      this.fetchData(id);
    } else {
      this.postForm = Object.assign({}, defaultForm);
    }

    // Why need to make a copy of this.$route here?
    // Because if you enter this page and quickly switch tag, may be in the execution of the setTagsViewTitle function, this.$route is no longer pointing to the current page
    this.tempRoute = Object.assign({}, this.$route);
  },
  methods: {
    fetchData(id) {
      this.loading = true;
      resource
        .get(id)
        .then((response) => {
          this.postForm = response.data;

          // Set tagsview title
          this.setTagsViewTitle();
          this.loading = false;
        })
        .catch((err) => {
          console.log(err);
          this.loading = false;
        });
    },
    setTagsViewTitle() {
      const title = 'Редактировать Производителя';
      const route = Object.assign({}, this.tempRoute, {
        title: `${title}-${this.postForm.id}`,
      });
      this.$store.dispatch('tagsView/updateVisitedView', route);
    },
    submitForm() {
      this.$refs.postForm.validate((valid) => {
        if (valid) {
          this.loading = true;
          if (this.isEdit) {
            resource
              .update(this.postForm.id, this.postForm)
              .then((response) => {
                this.saveSuccess();
              })
              .catch((error) => {
                this.saveFail(error);
              });
          } else {
            resource
              .store(this.postForm)
              .then((response) => {
                this.saveSuccess();
              })
              .catch((error) => {
                this.saveFail(error);
              });
          }
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    saveSuccess() {
      this.$notify({
        title: 'Успешно',
        message: 'Запись успешно сохранился',
        type: 'success',
        duration: 2000,
      });
      this.$router.push({ path: '/currencies' });
      this.loading = false;
    },
    saveFail(error) {
      this.loading = false;
      console.log(error);
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 0 45px 20px 50px;
    .postInfo-container {
      position: relative;
      @include clearfix;
      margin-bottom: 10px;
      .postInfo-container-item {
        float: left;
      }
    }
  }
  .word-counter {
    width: 40px;
    position: absolute;
    right: -10px;
    top: 0px;
  }
}
</style>
<style>
.createPost-container label.el-form-item__label {
  text-align: left;
}
.el-input.is-disabled .el-input__inner {
  color: #666666;
}
</style>
