<template>
  <div class="app-container">
    <div class="filter-container">
      <router-link to="/currencies/create">
        <el-button
          class="filter-item"
          style="margin-left: 10px;"
          type="primary"
          icon="el-icon-plus"
        >{{ $t('table.add') }}</el-button>
      </router-link>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column min-width="15" align="center" label="ID">
        <template v-slot:header>
          <span>ID</span>
          <el-input
            v-model="listQuery.id"
            clearable
            @clear="searchElements"
            @input.native="searchElements"
          />
        </template>
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="50" align="center" :label="$t('name')">
        <template v-slot:header>
          <span>{{ $t('table.name') }}</span>
          <el-input
            v-model="listQuery.name"
            prefix-icon="el-icon-search"
            clearable
            @clear="searchElements"
            @input.native="searchElements"
          />
        </template>
        <template slot-scope="scope">
          <router-link :to="'/currencies/'+scope.row.id" class="link-type">
            <span>{{ scope.row.name }}</span>
          </router-link>
        </template>
      </el-table-column>

      <el-table-column min-width="50" align="center" label="Char Code">
        <template v-slot:header>
          <span>Char Code</span>
          <el-input
            v-model="listQuery.char_code"
            prefix-icon="el-icon-search"
            clearable
            @clear="searchElements"
            @input.native="searchElements"
          />
        </template>
        <template slot-scope="scope">
          <span>{{ scope.row.char_code }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" :label="$t('table.actions')" min-width="100px">
        <template slot-scope="scope">
          <router-link :to="'/currencies/' + scope.row.id">
            <el-button size="small" icon="el-icon-search">{{ $t('table.view') }}</el-button>
          </router-link>
          <router-link :to="'/currencies/edit/' + scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">{{ $t('table.edit') }}</el-button>
          </router-link>
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            @click="handleDelete(scope.row.id);"
          >{{ $t('table.delete') }}</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import CurrencyResource from '@/api/currency';
import ResourceMixin from '@/views/mixins/resource';

export default {
  name: 'CurrencyList',
  components: { Pagination },
  mixins: [ResourceMixin],
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 15,
        id: null,
        name: null,
        char_code: null,
      },
      resource: new CurrencyResource(),
    };
  },
  created() {
    this.getList();
  },
};
</script>
