<template>
  <div>
    <div class="app-container">
      <div class="filter-container">
        <el-date-picker
          v-model="query.period"
          type="daterange"
          format="yyyy/MM/dd"
          value-format="yyyy-MM-dd"
          start-placeholder="От"
          end-placeholder="До"
          @change="fetchData"
        />
        <el-select v-model="query.period_group" @change="fetchData">
          <el-option
            v-for="item in periodGroupOptions"
            :key="item.key"
            :label="item.label"
            :value="item.key"
          />
        </el-select>
      </div>
    </div>
    <div class="chart-container">
      <chart height="100%" width="100%" :logs="logs" />
    </div>
  </div>
</template>

<script>
import Chart from './components/Chart';
import CurrencyResource from '@/api/currency';
import { parseTime } from '@/utils';

const currencyResource = new CurrencyResource();

export default {
  name: 'View',
  components: { Chart },
  data() {
    return {
      query: {
        period: null,
        period_group: null,
      },
      periodGroupOptions: [
        { label: 'По часам', key: 'hour' },
        { label: 'По дням', key: 'day' },
      ],
      logs: {
        times: [],
        values: [],
      },
    };
  },
  created() {
    this.setDefaultQuery();
    this.fetchData();
  },
  methods: {
    async fetchData() {
      const { data } = await currencyResource.logs(
        this.$route.params.id,
        this.query
      );

      this.logs.times = data.map((o) => o['created_at']);
      this.logs.values = data.map((o) => o['value']);
    },
    setDefaultQuery() {
      const nextDay = new Date().setDate(new Date().getDate() + 1);
      const endData = parseTime(nextDay, '{y}-{m}-{d}');

      const oneMonthAgo = new Date().setMonth(new Date().getMonth() - 1);
      const startData = parseTime(oneMonthAgo, '{y}-{m}-{d}');

      this.query.period = [startData, endData];
      this.query.period_group = 'day';
    },
  },
};
</script>

<style scoped>
.chart-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 84px);
}
</style>
